/*清除默认样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img{ border:none;}
a{text-decoration:none;color:#000;}
ul,ol,li{list-style:none;}
b,strong,h1, h2, h3, h4, h5, h6{font-weight:normal;}
i,em{font-style:normal;}
input{background:none;border:none;outline:none;}
img{font-size:0;border:none;}

body{background:#f6f6f6;}
body a:hover{text-decoration: underline;}
/*toolbar区*/
.toolbar{width:100%;height:30px;}
.toolbar .toolbar_con{width:1200px;height:30px;margin: 0 auto;}
.toolbar_con .toolbar_con_right{width:452px;height:30px;display: inline;line-height: 29px;float: right;position: relative;}
.toolbar_con_right ul li{height:30px;line-height:29px;float: left;font-size: 12px;}
.toolbar_con_right ul .freereg a{color:#ff464e;}
.toolbar_con_right ul .lishop img{position:absolute;left:190px;top:5px;}
.toolbar_con_right ul .lishop em{display:inline-block;width:18px;height:18px;text-align:center;line-height:18px;margin:5px 0 0 6px;border-radius:50%;background:#ccc;}
.toolbar_con_right ul .lithree{margin: 0 10px;}
.toolbar_con_right a{margin-top:-5px;padding: 0 10px;border-right:solid 1px #e2e2e2;}
.toolbar_con_right span{display:inline-block;float:left;margin-left:30px;}
.toolbar_con_right ul .lithree a{border: none;}
.toolbar_con_right ul .last a{border: none;}

.toolbar .service{width:80px;height:50px;font-size:12px;background:#fff;border:solid 1px #ccc;border-radius:4px;position:absolute;right:107px;top:25px;z-index:5;display:none;}
.toolbar .service ul li{height:25px;line-height:25px;text-align: center;}
.toolbar .centershop{width:80px;height:50px;font-size:12px;background:#fff;border:solid 1px #ccc;border-radius:4px;position:absolute;right:185px;top:25px;z-index:5;display:none;}
.toolbar .centershop ul li{height:25px;line-height:25px;text-align: center;}
.toolbar .bag{width:200px;height:50px;font-size:13px;color:#b6b6b6;overflow:hidden;background: #fff;position: absolute;right:269px;top:25px;z-index:5;display:none;}
.toolbar .bag span{display: inline-block;margin-top: 20px;float: left;}
.toolbar .bag a{font-size:13px;color:#0289cd;}
.toolbar .bag img{margin:10px 3px 0 20px;float: left;}
/*top区域*/
.top{width:100%;height:76px;background:#FFF;}
.top .top_con{width:1200px;height:76px;margin:0 auto;}
.top .top_con .top_con_left h1{margin-top:16px;float: left;margin-right: 13px;}
.top .top_con .top_con_left span{float:left;margin-top:19px;}
.top .top_con .top_con_right{float:right;margin-right: 88px;cursor: pointer;}
.top_con_right ul li{width:157px;height:30px;margin-top:24px;float: left;line-height: 30px;}
.top_con_right ul li img{margin-right:10px;vertical-align: middle;}
.top_con_right ul li a{border-right: dotted 2px #bfbfbf;padding:0 20px 0 0;}
.top_con_right ul .last a{border:none;}
.top_con .search{width:246px;height:35px;background:#efefef;margin-top:25px;float:right;position: relative;}
.top_con .search input{width:200px;height:35px;font-size:12px;padding-left:8px;}
.top_con .search >a{display:inline-block;width:37px;height:35px;cursor:pointer;float: right;background:#ff464e;}
.top_con .search >a img{display:inline-block;margin:10px;}
.top_con .search .box{background:#fff;width:239px;height:auto;position: absolute;left:0;top:35px;z-index: 4;display: none;}
.top_con .search .box ul{width:239px;height:auto;}
.top_con .search .box ul li{height:20px;line-height: 20px;}
.top_con .search .box ul li a{font-size: 15px;text-decoration: none;cursor: pointer;}

/*nav区域*/
.nav{width:100%;height:40px;border-bottom: solid 2px #ff464e;}
.nav .nav_con{width:1200px;height:40px;margin:0 auto;position: relative;}

.nav .nav_con .twocode{width:152px;height:180px;text-align:center;background:#fff;position:absolute;right:440px;top:43px;z-index: 4;display: none;}
.nav .nav_con .twocode b{font-size: 18px;}

.nav .nav_con .signindex {width:160px;height:130px;background:#F7F7F7;border:solid 1px #ff464e;border-top:2px solid #ff464e;overflow:hidden;position: absolute;right:0;top:40px;z-index:2;display: none;}
.nav .nav_con .signindex p{width:160px;height:35px;text-align: center;line-height: 35px;background: #fff;}
.nav .nav_con .signindex a{font-size:12px;color:deepskyblue;}
.nav .nav_con .signindex ul{width:160px;height:13px;margin:20px auto 0;}
.nav_con .signindex ul li{width:80px;height:13px;line-height:13px;font-size:13px;text-align:center;}
.nav_con .signindex ul li a{border-right: solid 1px #000;padding:0 12px;}
.nav_con .signindex ul li .shopcity{border:none;}
.nav_con .signindex i{width:160px;display:inline-block;text-align: center;margin-top:10px;}
.nav_con .signindex em{width:160px;display:inline-block;text-align: center;margin-top:10px;font-size:16px;}
.nav_con .signindex ul li{float: left;}
.nav_con a{font-size:17px;}
.nav_con dl dd,dt{float:left;height:40px;text-align:center;line-height:40px;}
.nav_con dl dd{width:210px;height:40px;text-align:center;line-height:40px;background:#ff464e;border-radius: 10px 10px 0 0;}
.nav_con dl dd a{color: #fff;}
.nav_con dl dt a{color: #000;}
.nav_con dl dt{width:105px;}
.nav_con dl .last img{vertical-align: middle;margin-right: 5px; margin-top: -2px;  }
.nav_con span{width:106px;height:40px;line-height:40px;margin-right: 16px;float: right;}
.nav_con span img{vertical-align: middle;margin-right: 5px; margin-top: -2px;  }
/*banner区域*/
.banner{width:100%;height:380px;position: relative;}
.banner .banner_con{width:1200px;height:380px;margin:0 auto;}
.banner .banner_con .app{position: absolute;right:30px;top:0;z-index: 2;}
.banner_con .banner_con_left{width:188px;height:380px;background:#fff;padding:0 11px;float:left;overflow: hidden;}
.banner_con_left ul li{width:50%;height:55px;text-align:center;line-height:48px;float: left;border-bottom: dotted 1px #ccc;}
.banner_con_left ul li em{width:22px;height:22px;float:left;display:inline-block;margin-top:14px;}
.banner_con_left ul .li1 em{background:url("../images/ct_icons.png") no-repeat 0px -1px;}
.banner_con_left ul .li2 em{background:url("../images/ct_icons.png") no-repeat -24px -1px;}
.banner_con_left ul .li3 em{background:url("../images/ct_icons.png") no-repeat -49px -1px;}
.banner_con_left ul .li4 em{background:url("../images/ct_icons.png") no-repeat -74px -1px;}
.banner_con_left ul .li5 em{background:url("../images/ct_icons.png") no-repeat -98px -1px;}
.banner_con_left ul .li6 em{background:url("../images/ct_icons.png") no-repeat -121px -1px;}
.banner_con_left ul .li7 em{background:url("../images/ct_icons.png") no-repeat -146px -1px;}
.banner_con_left ul .li8 em{background:url("../images/ct_icons.png") no-repeat -170px -1px;}
.banner_con_left ul .li9 em{background:url("../images/ct_icons.png") no-repeat -194px -1px;}
.banner_con_left ul .li10 em{background:url("../images/ct_icons.png") no-repeat -217px -1px;}
.banner_con_left ul .li11 em{background:url("../images/ct_icons.png") no-repeat -241px -1px;}
.banner_con_left ul .li12 em{background:url("../images/ct_icons.png") no-repeat -266px -1px;}
.banner_con_left ul .li13 em{background:url("../images/ct_icons.png") no-repeat -289px -1px;}
.banner_con_left ul .li14 em{background:url("../images/ct_icons.png") no-repeat -313px -1px;}
.banner_con_left ul li a{padding-right: 16px;color:#5e5e5e;}

.banner_con .banner_con_mid{width:700px;height:360px;margin:20px 20px 0 20px;float: left;position: relative;cursor: pointer;}
.banner_con .banner_con_mid >ul{width:700px;height:360px;overflow: hidden;position: relative;}
.banner_con .banner_con_mid >ul li{width:700px;height:360px;float: left;cursor:pointer;position: absolute;left:0;top:0;}
.banner_con .banner_con_mid >ul .midli1{z-index: 3;}
.banner_con .banner_con_mid >ul .midli2{z-index: 2;}
.banner_con .banner_con_mid >ul .midli3{z-index: 1;}
.banner_con .banner_con_mid .left{width:26px;height:45px;background:black;opacity:0.3;filter:alpha(opacity=30);line-height:60px;position: absolute;left:0;top:157px;z-index: 4;overflow: hidden;visibility:hidden;}
.banner_con .banner_con_mid .left img{width:35px;margin-left:7px;}
.banner_con .banner_con_mid .right{width:26px;height:45px;background:black;opacity:0.3;filter:alpha(opacity=30);line-height:60px;position: absolute;right:0;top:157px;z-index: 4;overflow: hidden;visibility:hidden;}
.banner_con .banner_con_mid .right img{width:35px;float:right;margin:10px 7px 0 0;}
.banner_con .banner_con_mid .midnav{width:100px;height:20px;position:absolute;left:50%;bottom:0px;z-index: 4;}
.banner_con .banner_con_mid .midnav ul li{float:left;width:13px;height:13px;cursor:pointer;margin-right:14px;margin-top:3px;background:#fff;border-radius: 50%;}
.banner_con .banner_con_mid .midnav ul .current{width:13px;height:13px;margin-right:14px;margin-top:0px;background-color:transparent;border:3px solid #fff;border-radius: 50%}

.banner_con .banner_con_right{width: 250px;height:360px;margin-top:20px;background:#fff;float: right;overflow: hidden;}
.banner_con .banner_con_right ul{width: 252px;height:360px;}
.banner_con .banner_con_right ul li{width:125px;height:119px;float:left;border-right: solid 1px #ccc;border-bottom: solid 1px #ccc;}
.banner_con .banner_con_right ul .last{width:250px;height:119px;}
/*band区域*/
.band{width:100%;height:361px;}
.band .band_con{width:1200px;height:361px;margin: 0 auto;}
.band .band_con .band_con_top{width:1200px;height:60px;line-height:60px;}
.band_con_top span{width:600px;height:60px;line-height:60px;float: left;}
.band_con_top span i{font-size: 16px;color: #333;}
.band_con_top span img{display:inline;float:left;margin:20px 10px 0 0;}
.band_con_top ul{float: right;}
.band_con_top ul li{width:65px;height:60px;float: left;margin-left: 33px;cursor: pointer;}
.band_con_top ul li a{font-size: 12px;color: #333;float: left;}
.band_con_top ul li a:hover{color:#ff464e;}
.band_con_top ul .last a{color:#ff464e;margin-right:5px;}
.band_con_top li img{display:inline;float: left;margin-top:21px }
.band_con_index{width:1200px;height:300px;background:#fff;}
.band_con_index ul li{width:370px;height:204px;cursor:pointer;float: left;margin:21px 0 0 22px;position: relative;border:solid 1px #fff;}
.band_con_index ul li >img{width:370px;height:154px;float:left;}
.band_con_index .timespan{width:370px;height:25px;display:inline-block;text-align:center;line-height:25px;color:#fff;background:rgba(0,0, 0, 0.5);border-bottom:solid 1px #808080;position:absolute;left:0;bottom:50px;z-index: 1;}
.band_con_index .timespan img{margin-right:5px;}
.band_con_index ul li p{width:370px;height:50px;background:#f6f6f6;line-height: 50px;float:left;}
.band_con_index ul li p span{font-size:14px;color:#333;margin-left:10px;}
.band_con_index ul li p a{width:70px;height:30px;float:right;margin:10px 10px 0 0;font-size:16px;color:#ff464e;border-radius: 5px;line-height: 30px;text-align: center;}

.band_con .band_con_index dl{height:76px;line-height:76px;margin-left:20px;float: left;}
.band_con .band_con_index dl dd,dt{float: left;font-size: 13px;}
.band_con .band_con_index dl img{width:70px;height:30px;margin:23px 0 0 50px;cursor:pointer;}
.band_con .band_con_index dl .lookall{color:#ff464e;margin:23px 0 0 50px;cursor: pointer;}
.band_con .band_con_index dl .lookall a{color:#ff464e;}

/*new*/
.new{width:100%;height:auto;border-bottom: solid 1px #ce003f;float:left;}
.new .new_con{width:1200px;height: auto;margin: 0 auto;}
.new_con .new_con_top{width:1200px;height:60px;line-height:60px;}
.new_con .new_con_top span{width:600px;height:60px;line-height:60px;float: left;}
.new_con .new_con_top span i{font-size: 15px;color: #333;margin-right: 5px;}
.new_con .new_con_top span em{font-size: 12px;color: #999;}
.new_con .new_con_top span img{display:inline;float:left;margin:20px 10px 0 0;}

.new_con .new_con_index{width:1200px;height: auto;}
.new_con .new_con_index ul{width:1200px;height: auto;overflow: hidden;}
.new_con .new_con_index ul li{width:285px;height:365px;margin:0 13px 15px 0;cursor:pointer;float: left;position: relative;border:solid 1px #F6F6F6;}
.new_con .new_con_index ul li .new_pic{width:37px;height:37px;display:block;position:absolute;left:0;top:0;}
.new_con .new_con_index .collect,.collect2{width:28px;height:28px;background:#fff;border:solid 1px #e3e3e3;position:absolute;right:10px;top:10px;border-radius: 50%;display: none;}
.new_con .new_con_index .collect img,.collect2 img{display: block;margin:9px auto;}
.new_con .new_con_index .go{width:70px;height:30px;background:#ff464e;color:#fff;position: absolute;right:10px;bottom:10px;border-radius: 5px;line-height: 30px;text-align: center;display: none;}
.new_con .new_con_index ul li>img{width:285px;height:285px;font-size:0;float: left;}
.new_con .new_con_index ul p{width:285px;height:40px;line-height: 40px;background:#fff;float: left;}
.new_con .new_con_index ul p a{margin-left:5px;font-size: 15px;}
.new_con_index ul p span{float: right;color:#bbb;margin-right: 11px;}
.new_con_index ul .bottom{height: 30px;line-height:30px;}
.new_con_index ul .bottom em{font-size:15px;color:#ff464e;font-weight:bold;margin-left:5px;}
.new_con_index ul .bottom i{font-size: 29px;color:#ff464e;font-weight: bold;margin-right: 6px;}
.new_con_index ul .bottom b,strong{font-size: 10px;color:#bbb;margin-right: 6px;}
.new_con_index ul .bottom b{text-decoration:line-through ;}
.new_con_index ul .bottom img{float:right;margin:15px 11px 0 0;}
/*foot区域*/
.foot{width:100%;height:200px;background:#f9f9f9;float: left;border-top:solid 4px #ff464e;}
.foot .foot_con{width:1200px;height:200px;margin:0 auto;border-bottom: dashed 1px #ccc;}

.foot_con .foot_twocode{width:90px;height:118px;float:left;margin:30px 60px 0 50px;background:#f9f9f9;}
.foot_con .foot_twocode b{font-size: 13px;color:#666;}
.foot_con .foot_con_list ul li{width:93px;height:118px;float:left;margin: 30px 90px 0 0;}
.foot_con_list  ul li dl dd{font-size: 14px;color:#333;margin-right: 8px;text-align: center; }
.foot_con_list ul li dl dt{height:24px;line-height:24px;}
.foot_con_list ul li dl dt a{font-size:12px;color:#666;}
.foot_con_list ul li dl dt img{margin-right: 8px;vertical-align:middle;}
.foot .foot_con>a{display:inline-block;width:87px;height:40px;float:left;background:url("../images/service_add.gif") no-repeat;margin-top: 60px;}
.foot .foot_con>a:hover{background-position: 0px -47px;}
.foot .foot_con>span{display:inline-block;width:61px;height:28px;float:left;font-size: 12px;color:#919191;margin:70px 0 0 5px;}
.foot .foot_con .word {width:1000px;height:20px;margin:20px 0 0 50px;float:left;line-height:20px;font-size: 12px;color:#999;position: relative;overflow: hidden;}
.foot_con .word ul li a{font-size: 12px;color:#999;margin-right:21px;cursor: pointer;}
.foot_con .word ul{width:1000px;height:60px;float:left;display:inline-block;position: absolute;left:60px;top:0;}
.foot_con .word ul .li1 {width:1000px;height:20px;display:inline-block;}
.foot_con .word ul .li2 {width:1000px;height:20px;display:inline-block;}
/*bottom-foot*/
.foot_bottom{width:100%;height:158px;background:#f9f9f9;float: left;margin-top: 1px;}
.foot_bottom .foot_bottom_con{width:977px;height:158px;margin: 0 auto;overflow: hidden;}
.foot_bottom_con ul{width:890px;height:12px;margin:44px auto 0;}
.foot_bottom_con ul li{padding: 0 6px;float:left;font-size: 12px;color:#666;border-right: solid 1px #936693;}
.foot_bottom_con ul .last{border: none;}
.foot_bottom_con span{width:555px;height:47px;display:block;margin:14px auto;}
.foot_bottom_con span img{float:left;margin-right: 30px;}
/*吸顶*/
.mount{width:100%;height:50px;position:absolute;left:0;top:0;z-index: 3;background:#fff;border-bottom:solid 1px #d7d7d7;box-shadow: 0px 2px 7px #ccc;display: none;}
.mount .mount_con{width:1200px;height:50px;margin:0 auto;}
.mount .mount_con dl a{font-size: 14px;}
.mount_con dl dd a{color:#ff464e;font-size: 14px;border-right: solid 1px #ccc;padding-right: 15px;}
.mount_con dl dd,.mount_con dl dt{width:75px;height:50px;line-height: 50px;text-align:center;float: left;cursor: pointer;}
.mount_con dl dt{width:58px;height:50px;}
.mount_con dl dt >a:hover{color:#ff464e;}
.mount_con dl .soon{width:70px;color:#336600;}
.mount_con dl .soon a{color:#336600;}
.mount_con dl .soon a:hover{color:#336600;}
/*sidebar*/
.sidebar{width:36px;height:900px;background:#444;position: fixed;right:0;top:0;z-index: 10;}
.sidebar .up{width:36px;position: relative; top: 120px;}
.sidebar .down{width:36px;position: relative; top: 380px;}

.sidebar .up .side_user{width:36px;height:40px;overflow: hidden;}
.sidebar .up .side_user a{width:36px;height:30px;display:inline-block;background:url("../images/sidebar.png" ) no-repeat 10px 7px;}
.sidebar .up .side_user a:hover{background-position: -17px 7px;}
.sidebar .up .side_cart{width:36px;height:110px;overflow: hidden;margin-top:10px;border-top:solid 1px #222;border-bottom: solid 1px #222;}
.sidebar .up .side_cart .cart_num{width:18px;height:18px;display:block;margin:88px auto 0;text-align:center;line-height:18px;background:#ff464e;color:#fff;border-radius: 50%;}
.sidebar .up .side_cart a{width:36px;height:90px;text-decoration:none;display:inline-block;background:url("../images/sidebar.png" ) no-repeat 10px -20px;}
.sidebar .up .side_cart a:hover{background-position: -17px -20px;}
.sidebar .up .side_love{width:36px;height:33px;overflow: hidden;}
.sidebar .up .side_love a{width:36px;height:33px;display:inline-block;background:url("../images/sidebar.png" ) no-repeat 10px -103px;}
.sidebar .up .side_love a:hover{background-position: -17px -103px;}
.sidebar .up .side_money{width:36px;height:36px;overflow: hidden;}
.sidebar .up .side_money a{width:36px;height:30px;display:inline-block;background:url("../images/sidebar.png" ) no-repeat 10px -127px;}
.sidebar .up .side_money a:hover{background-position: -17px -127px;}

.sidebar .down .complain{width:36px;height:40px;cursor:pointer;overflow: hidden;margin-bottom: 10px;}
.sidebar .down .complain a{width:36px;height:30px;display:inline-block;background:url("../images/sidebar.png" ) no-repeat 10px -199px;}
.sidebar .down .complain a:hover{background-position: -17px -199px;}
.sidebar .down .code{width:36px;height:40px;cursor:pointer;overflow: hidden;margin-bottom: 10px;}
.sidebar .down .code a{width:36px;height:30px;display:inline-block;overflow: hidden;background:url("../images/sidebar.png" ) no-repeat 10px -150px;}
.sidebar .down .code a:hover{background-position: -17px -150px;}
.sidebar .down .backtop{width:36px;height:36px;cursor:pointer;overflow: hidden;margin-bottom: 10px;display: none;}
.sidebar .down .backtop a{width:36px;height:30px;display:inline-block;background:url("../images/sidebar.png" ) no-repeat 10px -178px;}
.sidebar .down .backtop a:hover{background-position: -17px -178px;}
.sidebar .side_user_box{width:202px;height:150px;display:none;background:#fff;position: absolute;right:85px;top:125px;z-index:1;border:solid 1px #b6b6b6;box-shadow: -1px 1px 3px #b6b6b6;}
.side_user_box img{width:60px;height:60px;display:block;margin:15px auto;border:solid 1px #b6b6b6;border-radius:50%;box-shadow: 0px 1px 2px #b6b6b6;}
.side_user_box p{width:200px;height:30px;text-align:center;line-height:30px;background:pink;margin-top:20px;font-size:15px;border-top:solid 1px #ff464e;border-bottom:solid 1px #ff464e;}
.side_user_box p a{font-size: 15px;color:#ff464e;}
.side_user_box span{width:16px;height:16px;text-align:center;margin:10px 10px 0 0 ;line-height:16px;cursor:pointer;display:inline-block;float:right;border-radius: 50%;}
.side_user_box em{position: absolute;right:-9px;top:10px;color: #fff;}

.sidebar .side_love_box{width:100px;height:30px;display:none;color: #fff;border-radius:4px;text-align:center;line-height:30px;font-size:15px;background:#000;position: absolute;right:85px;top:280px;z-index:1;border:solid 1px #b6b6b6;box-shadow: -1px 1px 3px #b6b6b6;}
.sidebar .side_love_box em{position: absolute;right:-8px;top:4px;color:#000;}

.sidebar .side_money_box{width:100px;height:30px;display:none;color: #fff;border-radius:4px;text-align:center;line-height:30px;font-size:15px;background:#000;position: absolute;right:85px;top:313px;z-index:1;border:solid 1px #b6b6b6;box-shadow: -1px 1px 3px #b6b6b6;}
.sidebar .side_money_box em{position: absolute;right:-8px;top:4px;color:#000;}

.sidebar .complain_box{width:100px;height:30px;display:none;color: #fff;border-radius:4px;text-align:center;line-height:30px;font-size:15px;background:#000;position: absolute;right:85px;top:610px;z-index:1;border:solid 1px #b6b6b6;box-shadow: -1px 1px 3px #b6b6b6;}
.sidebar .complain_box em{position: absolute;right:-8px;top:4px;color:#000;}

.sidebar .code_box{width:158px;height:190px;display:none;background: #fff;border-radius:4px;text-align:center;line-height:30px;font-size:15px;position: absolute;right:85px;top:543px;z-index:1;border:solid 1px #b6b6b6;box-shadow: -1px 1px 3px #b6b6b6;}
.sidebar .code_box em{position: absolute;right:-8px;top:120px;color:#fff;}
.sidebar .code_box .twocode{width:158px;height:190px;text-align:center;}
.sidebar .code_box .twocode img{display:block;margin: 5px 5px 0;float:left;}
.sidebar .code_box .twocode b{font-size: 18px;color:#b6b6b6;}

.sidebar .backtop_box{width:100px;height:30px;display:none;color: #fff;border-radius:4px;text-align:center;line-height:30px;font-size:15px;background:#000;position: absolute;right:85px;top:710px;z-index:1;border:solid 1px #b6b6b6;box-shadow: -1px 1px 3px #b6b6b6;}
.sidebar .backtop_box em{position: absolute;right:-8px;top:4px;color:#000;}

.new_con_index .pages .tcdNumber,.current{ display: inline-block; width: 40px; height: 40px; text-align: center; line-height: 40px; border: 1px solid #ccc; margin-right: 1px; color: #000;}
.new_con_index .pages .current{ background:#ff464e;}
.new_con_index .pages .pages_con{width:455px;height:42px;background:#fff;border-radius: 30px;text-align:center;line-height:40px;margin:20px auto 20px;}
.new_con_index .pages .pages_con .disabled{width:80px;display:inline-block;text-align:center;}
.new_con_index .pages .pages_con .nextPage{width:80px;display:inline-block;text-align:center;}
